<div class="container">
  <!-- <nav class="navbar navbar-primary bg-primary navbar-expand-lg bg-body-tertiary mt-3"> -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg mt-3">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/inicio']">
        <img src="/assets/images/video.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        FAVOVIDEOS
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="identity">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/inicio']">Mis vídeos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/guardar-favorito']">Guardar favorito</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right mb-2 mb-lg-0" *ngIf="!identity">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" [routerLink]="['/register']">Registro</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right" *ngIf="identity">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{identity.name + ' ' + identity?.surname}}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
              <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav> 
  <!-- fin de la barra de navegación -->
  <!-- contenido -->
  <router-outlet></router-outlet>
  <footer>
    <hr>
    <p>Yolanda Cordero - yolandacorderorobledo@gmail.com</p>
  </footer>
</div>



"total_items_count": 8,
"page_actual": 1,
"items_per_page": 5,
"total_pages": 2,